# PYTHON CODE CHALLENGES CONTROL FLOW

# 1. Large Power

In [19]:
# function with two input parameters called base and exponent
def large_power(base, exponent):
    if base ** exponent > 5000:
        return True
    else:
        return False
        
print(large_power(2,12))

False

# 2. Over Budget

In [32]:
# function that accepts five parameters starting with budget then food_bill, electricity_bill, internet_bill, and rent

def over_budget(budget, food_bill, electricity_bill, internet_bill, rent):
    if (budget < food_bill + electricity_bill + internet_bill + rent):
        return True
    else:
        return False
    
print(over_budget(5000, 1000, 1000, 50, 1000))
print(over_budget(5000, 22000, 1000, 15000, 1000))

False
True

# 3. Twice As Large

In [45]:
# function with two inputs num1 and num2
def twice_larger(num1, num2):
    if (num1 > num2*2):
        return True
    else:
        return False
    
print(twice_larger(2,4))
print(twice_larger(7777770,20))

False
True

# 4. Divisible By Ten

In [49]:
#  function with one input num
def devisible_by_ten(num):
    if num % 10 ==0:
        return True
    else:
        return False
    
print(devisible_by_ten(1101))

False

# 5. Not Sum To Ten

In [52]:
#function accepts two parameters, num1 and num
def not_sum_to_ten(num1, num):
    if(num1+num != 10):
        return True
    else:
        return False
print(not_sum_to_ten(23,2))

True

# Python Code Challenges: Control Flow (Advanced)

# 6. In Range

In [55]:
#function accepts three numbers as parameter
def in_range(num,lower,uper):
    if num >= lower and num <= uper:
        return True
    else:
        return False
print(in_range(3,1,2))

False

# 7. Same Name

In [57]:
def same_name(your_name, my_name):
    if your_name == my_name:
        return True
    else:
        return False
print(same_name("iqra", "iqra"))

True

# 8. Always False

In [59]:
def always_false(num):
    if(num > 0 and num < 0):
        return True
    else:
        return False
print(always_false(3))

False

# 9. Movie Review

In [69]:
def movie_rating(rating):
    if rating <= 5:
        return "avoid at all cost"
    if rating < 9:
        return "This one was fun."
    
    return "Outstanding"
        
print(movie_rating(11))
print(movie_rating(4))
print(movie_rating(0))

Outstanding
avoid at all cost
avoid at all cost

# 10. Max Number

In [72]:
def max_num(num1, num2, num3):
    if num1 > num2:
        return num1
    if num2 > num1:
        return num2
    if num1 > num3:
        return num1
    if num3 > num1:
        return num3
    if num2 > num3:
        return num2
    if num3 > num2:
        return num3
    
print(max_num(3,5,1))
print(max_num(13,5,1))
print(max_num(3,5,111))
print(max_num(31,5,11))
print(max_num(3,25,1))

5
13
5
31
25

In [74]:
def max_num(num1, num2, num3):
  if num1 > num2 and num1 > num3:
    return num1
  elif num2 > num1 and num2 > num3:
    return num2
  elif num3 > num1 and num3 > num2:
    return num3
  else:
    return "It's a tie!"
print(max_num(3,5,1))
print(max_num(13,5,1))
print(max_num(3,5,111))
print(max_num(31,5,11))
print(max_num(3,25,1))

5
13
111
31
25